<a href="https://colab.research.google.com/github/Yashodha3327/python_learning/blob/main/Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
Balance = 0
transactionType = input("log_message = ")
print(type(transactionType))
trans = transactionType.split(" ")
for e in trans:
    trans1  = e.split(":")
    if trans1[0] == "D":
        Balance = Balance + int(trans1[1])
    elif trans1[0] == "W":
        Balance = Balance - int(trans1[1])
print(Balance)

log_message = D:100
<class 'str'>
100

In [2]:
call = int(input("enter the number of calls "))
calltime =0
charges =0
if(call<=100):
    charges =200
elif(call>=100 and call<=150):
    charges = 200+((call-100)*0.60)
elif(call<=200 and call>=151):

    calltime = (call-150)
    charges = 200+(((call-100)-calltime)*0.60)+calltime*0.50
elif(call>200):
    calltime = (call-200)
    charges=200+(((call-150)-calltime)*0.60)+((call-150)-calltime)*0.50+calltime*.40
print(charges)

enter the number of calls 140
224.0

In [8]:
A = [1,2,3,4,5]
total = sum(A)
print("sum of all numbers in the list:", total)

sum of all numbers in the list: 15

In [9]:
def reverse(s):
    str = ""
    for i in s:
        str = i + str
    return str

s = "1234abcd"

print("The original string is : ", end="")
print(s)

print("The reversed string(using loops) is : ", end="")
print(reverse(s))

The original string is : 1234abcd
The reversed string(using loops) is : dcba4321

In [26]:
def string_test(s):
    d = {"UPPER_CASE": 0, "LOWER_CASE": 0}
    for c in s:
        if c.isupper():
            d["UPPER_CASE"] += 1
        elif c.islower():
            d["LOWER_CASE"] += 1
        else:
            pass
    print("Original String: ", s)
    print("No. of Upper case characters: ", d["UPPER_CASE"])
    print("No. of Lower case Characters: ", d["LOWER_CASE"])
string_test('The quick Brown Fox')

Original String:  The quick Brown Fox
No. of Upper case characters:  3
No. of Lower case Characters:  13

In [22]:
def squaresum(n):
 sm = 0
 for i in range(1, n+1):
    sm = sm + (i * i)
 return sm

In [24]:
n=5
print(squaresum(n))

55

In [26]:
def add(x, y):
    return x + y
def subtract(x, y):
    return x - y
def multiply(x, y):
    return x * y
def divide(x, y):
    return x / y
print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")
while True:
  choice = input("Enter choice(1/2/3/4): ")
  if choice in ('1', '2', '3', '4'):
     try:
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))
     except ValueError:
      print("Invalid input. Please enter a number.")
      continue

  if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

  elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

  elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

  elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
  next_calculation = input("Let's do next calculation? (yes/no): ")
  if next_calculation == "no":
    break
else:
  print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 1
Enter first number: 10
Enter second number: 20
10.0 + 20.0 = 30.0
Let's do next calculation? (yes/no): no

NameError: name 'squaresum' is not defined